#grid-wrap{
	padding: 20px;
	width: 1024px;
}
.k-grid-header th.disabledColumn{
	background: #f66;
}

/* hide column menu arrow */
.disabledColumn .k-header-column-menu{
	display:none;
}


.my-view-form ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.my-view-form li {
	margin-top: 10px;
}

.my-view-form label {
	display: block;
	padding-right: 3px;
}

.my-view-form span.k-tooltip {
	margin-left: 6px;
}


.my-view-form .button-wrap {
	text-align: right;
}
.my-view-form .button-wrap button{
	margin-right: 20px;
}