@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-7cajv8');
	src:url('fonts/icomoon.eot?#iefix-7cajv8') format('embedded-opentype'),
		url('fonts/icomoon.woff?-7cajv8') format('woff'),
		url('fonts/icomoon.ttf?-7cajv8') format('truetype'),
		url('fonts/icomoon.svg?-7cajv8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-milestone:before {
	content: "\f075";
}
.icon-user:before {
	content: "\e607";
}
.icon-drawer:before {
	content: "\e601";
}
.icon-exit:before {
	content: "\e602";
}
.icon-library:before {
	content: "\e600";
}
.icon-search:before {
	content: "\e608";
}
.icon-cog:before {
	content: "\e609";
}
.icon-question:before {
	content: "\e603";
}
.icon-googleplus:before {
	content: "\e60a";
}
.icon-twitter:before {
	content: "\e60b";
}
.icon-facebook:before {
	content: "\e60c";
}
