#LIST, #grid-wrap{
	height: 100%;
}
#grid-wrap{
	padding: 5px 10px 0 10px;
	.k-grid-header{
		th.disabledColumn{
			/*background: #f66;*/
		}
	} 
	.disabledColumn {
		.k-header-column-menu{
			display:none;
		}
	}
	

}
.k-column-menu > .k-header {
  background-color: #fff;
}
.k-column-menu{
	.k-separator{
	  border-color:#fff; 
	}
	input[type="checkbox"]{
		margin-right: 8px;
	}
	.k-item > .k-link{
		line-height: 1.8em
	}
}

.k-grid-content:before, .k-grid-header-wrap:before{
	height: inherit;
	position: fixed;
	content: '';
	width: 20px;
	box-shadow: inset 8px 0px 12px 0px rgba(0, 0, 0, 0.15);
	background-color: transparent;
	margin-top: 0px;
}

.k-grid-header-wrap:before{
	height: 28px;
}
/* hide column menu arrow */


.k-window-titlebar{
	font-family: 'Trebuchet MS', Verdana;
	font-size: 1em;

	.k-window-title{
		padding-left: 12px;
	}
}






// Scrollable container to show scolldata
.scrl-box{
	overflow: auto;
	border: 1px solid #ccc;
	-webkit-backface-visibility: hidden;
	margin: 0;
	padding: 10px!important;
	&.small{
		height: 100px;
		width: 50%; 
	}
}

//Some Base form Css
form{
	&.my-view-form{
		font-family: 'Trebuchet MS', Verdana;
		font-size: 1em;
		.info-msg{
			padding: 0;
			margin: 0;
			font-size: .7em;
		}
		h4{
			margin:0;
			padding: 10px 0 0;
			font-size: .8em;
		}
		.err-wrap{
			display: none;
			color:red;
			font-size: .7em;
			margin-top: 10px;
		}

		ul {
			list-style-type: none;
			margin: 0 0 0 10px;
			padding: 0;
			li{
				margin-bottom: 10px;
			}
		}
	}
	&.lbl-block{
		label{
			display: block;
			margin-bottom: .5em;
			font-size: .8em;
		}
		.k-textbox{
			margin-bottom: 10px;
			font-size: .7em;
		}
	}
	span{
		&.k-tooltip {
			margin-left: 6px;
			font-size: .7em;
		}
	}
	.label-inline{
		.k-radio-label{
			padding-left: 20px;
			line-height: 1.4em;
		}
	}
	.btn-wrap {
		text-align: right;
		button{
			margin-right: 20px;
			min-width: 70px;
		}
	}
}