#grid-wrap{
	padding: 20px;
	width: 1024px;
}
.k-grid-header th.disabledColumn{
	background: #f66;
}

/* hide column menu arrow */
.disabledColumn .k-header-column-menu{
	display:none;
}


.my-view-form ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


.my-view-form span.k-tooltip {
	margin-left: 6px;
}


.my-view-form .btn-wrap {
	text-align: right;
}
.my-view-form .btn-wrap button{
	margin-right: 20px;
}
.scrl-box{
	overflow: auto;
	border: 1px solid #ccc;
	padding: 10px!important;
}
.scrl-box.small{
	height: 100px;
	width: 50%;
}